// Minimal config for local execution (AoU Workbench / Jupyter VM)
process.executor = 'local'

// Avoid copying huge TSVs into each task dir when possible
process.stageInMode  = 'symlink'
process.stageOutMode = 'copy'

// Default resources (override as needed)
process.cpus   = 1
process.memory = '4 GB'
process.time   = '12h'

// Where to publish outputs
params.outdir = params.outdir ?: 'analysis/phewas_prs_nf_out'

process {
  withName: FILTER_COUNTS_TO_COHORT {
    publishDir = [ path: "${params.outdir}/inputs", mode: 'copy', overwrite: true ]
    cpus   = 1
    memory = '4 GB'
    time   = '2h'
  }

  withName: PREPARE_PRS_COHORTS {
    publishDir = [ path: "${params.outdir}/inputs", mode: 'copy', overwrite: true ]
    cpus   = 2
    memory = '8 GB'
    time   = '12h'
  }

  withName: RUN_PHEWAS {
    publishDir = [ path: "${params.outdir}/results", mode: 'copy', overwrite: true ]
    cpus   = 1
    memory = '8 GB'
    time   = '24h'
  }

  withName: CUSTOM_PLOT {
    publishDir = [ path: "${params.outdir}/plots", mode: 'copy', overwrite: true ]
    cpus   = 1
    memory = '4 GB'
    time   = '2h'
  }
}


params {

  // Required
  
  // --- prs_matrix --- local path or gs://...
  prs_matrix        = 'gs://fc-secure-c2a3ec74-f528-4692-a6c3-00d9f1946f4c/urvashi_analysis/01.ukb_v20/02.prs_output/00.Adiposity/prs_merged/prs_matrix_ALL_TRAITS.tsv'    
  
  // ---cohort_covariates--- local path or gs://...
  cohort_covariates = 'gs://fc-secure-c2a3ec74-f528-4692-a6c3-00d9f1946f4c/GWAS_core/aou_phewas_nf_files/rs2925979_cohort_with_covariates.tsv'    
  
  //---phecode_counts --- local path or gs://...
  phecode_counts    = 'gs://fc-secure-c2a3ec74-f528-4692-a6c3-00d9f1946f4c/GWAS_core/aou_phewas_nf_files/aou_phecode_counts.tsv'    

  // Which PRS traits to PheWAS:
  //  - comma-separated list, e.g. "Trunk_fat,VAT_fat_BMIadj"
  //  - "ALL" to use all PRS columns except FID/IID
  //  - or a file path with one trait per line
  
  prs_traits = 'Gynoid_fat,Trunk_fat'
  
  // ancestry selection for downstream PheWAS runs:
  //   "ALL"    -> pooled + all ancestries found
  //   "POOLED" -> pooled only
  //   "eur,afr" (comma list) -> pooled + only those ancestry cohorts
  //   or "eur,afr,pooled" if you want explicit control
  
  ancestry_select = 'POOLED'

  // Cohort merge / stratification
  stratify_by_ancestry = true
  ancestry_col         = 'genetic_ancestry'
  person_id_col        = 'person_id'

  // INT transform settings
  int_seed      = 1
  int_jitter_sd = 1e-12

  // PheWAS settings
  phecode_version     = '1.2'
  min_cases           = 50
  min_phecode_count   = 2

  // ---- Plot settings (phewas_plot.py integration) ----
  converged_only        = true
  label_count           = 15

  plot_global_font_size = 14
  plot_fig_width        = 12
  plot_fig_height       = 4
  plot_axis_text_size   = 14
  plot_title_text_size  = 18
  plot_label_size       = 10
  
  
}
